*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #000000;
}

.navbar {
    background: #161616;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    position: fixed;
  }
  
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 120%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
    position: fixed;
    
    
  }
  
  #navbar__logo {
    color:white;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .navbar__item {
    height: 80px;
  }
  
  .navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
  }
  
  .navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
   
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 10px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background:white;
    color: #000000;
    
  }
  
  .navbar__links:hover {
    color: brown;
    transition: all 0.3s ease;
  }
  .span_traco{
      color: white;
  }
   /* Hero Section */
   .hero {
    background-color:#000000;
    padding: 200px 0;
    
    
  }
  
  .hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 20%;
    text-align: center;
    padding: 30px;
  }
  
  .hero__heading {
    font-size: 130px;
    margin-bottom: 24px;
    color: #fff;
    position: relative;
    right: 500px;
    bottom: 110px;

  }
  
  .hero__heading span {
    color: rgb(99, 67, 67);
    position: relative;
    left: 250px;
  }
  
  .hero__description {
    font-size: 20px;
 color:white;
 position: relative;
 right: 400px;
 top: -150px;
    
  }
  
  .highlight {
    border-bottom: 4px solid rgb(132, 0, 255);
  }
 span{
    color: white;
}
.div_form{
    background-color: rgba(24, 23, 23, 0.207);
    float: left;
    position: relative;
    top: 120px;
    left: 800px;
    align-items: center;
    width: 350px;
    height: 450px;
    border-radius: 30px;
    border-left: 6px solid #8C8C8C;
    
}

.div_form span{
    position: relative;
    left: 30px;
    top: 10px;
    
}
.div_form input{
    
        font-size: 12spx;
        width: 250px;
        height: 30px;
        color: white;
        background-color: rgb(22, 21, 21);
        margin-top: 10px;
       
        border: black;
        border-radius: 10px;
        position: relative;
        left: 30px;
}
.div_form h1{
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
    color: white;
}
.social-media {
    margin: 1rem 0;
    position: relative;
    left: 110px;
}
.link-social-media:not(:first-child){
    margin-left: 10px;
}
.link-social-media .item-social-media {
    transition: background-color .5s;
}
.link-social-media:hover .item-social-media{
    background-color:#131313;
    color: #fff;
    border-color: brown;
}
.list-social-media {
    display: flex;
    list-style-type: none;
}
.item-social-media {
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #95a5a6;
}
.button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 10px;
  height: 100%;
  width: 25%;
  border: none;
  outline: none;
  border-radius: 10px;
  background:#131313;
  color: white;
  position: relative;
  left: 37%;
  top: 30px;
  font-weight: 600;
  cursor: pointer;
}
.button1:hover{
  background-color: #4f4848;
}
.div_form p{
  color: white;
  position: relative;
  right: 40px;
  top: 10px;
}
.traco-esquerda{
  float: left;
  width: 70px;
  height: 2px;
  background-color: white;
  position: relative;
  bottom: 50px;
  left: 28px;
}
.traco-direita{
  float: right;
  width: 70px;
  height: 2px;
  background-color: white;
  position: relative;
  bottom: 50px;
  right: 28px;
}
.div_img{
  float: right;
  position: relative;
  right: 500px;
  bottom: 410px;

}
img{
  width: 500px;
}
.div-h1{
  color: white;
  float: left;
  position: relative;
  top: 120px;
  left: 100px;
  font-size: 38px;
}
.h1-a{
  color: rgb(99, 67, 67);
}
.h1-z2{
  color:rgb(99, 67, 67) ;

}
#div_msg{
  text-align: center;
  margin-right: 80px;
  margin-top: -10px;
  color: red;
}
.span_nome{
 margin-left: -67px;
}