*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #000
    ;
}
.search-box{
    position: absolute;
    top: 10%;
    left: 60%;
    transform: translate(-50%,-50%);
    background: #353b48;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.search-btn{
    color: #00a8ff;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #353b48;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 3s;
}
.search-inp{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    
    width:450px;
}
.search-box:hover > .search-inp{
    width: 500px;
    padding:  0 4px;
}
.search-box:hover > .search-btn{
    background: white;
}
.div-before{
    float: left;
    width: 20%;
    height: 625px;
    background-color:#131313;
    border-right:3px solid #5a5a5a;
    position:fixed;
    color: white;
}
.div-before span{
    position: relative;
    top: 30px;
    right: 30px;
    color: rgb(119, 49, 49);
    top: 40px;
}
.div-before  h1{
    margin-left: 40px;
    font-size: 40px;
}
.hr{
    position: relative;
    top: 50px;
    margin: 10px;
}
.div-before p{
    position: relative;
    top: 70px;
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
    text-decoration: solid;
}
.div-before a{
    position: relative;
    top: 80px;
   color: white;
   text-decoration: none;
   
}
a:hover{
    color: brown;
}
.div-before li{
    margin-top: 15px;
    margin-left: 10px;
}
.hr_list {
    position: relative;
    top: 150px;
    margin: 10px;
}
.line{
    position: relative;
    top:230px;
    margin: 10px;
}
h3{
    position: relative;
    top: 250px;
    margin-left: 50px;
}
.div-img{
    float: left;
    position: relative;
    left: 100px;
    top: 150px;
    z-index: 2; 
}
.div-img img{
    width: 220px;
    border: 1px solid white ;
    cursor: pointer;
}
.div-img p{
    color: white;
    text-align: center;
}
.div-sobreposta {
    float: left;
    position: relative;
    width: 223px;
    height: 138px;
    left: -130px;
    top: 137px;
    background-color: thistle;
   z-index: 1;
    border: 1px white solid;
}
#div-teste{
    width: 30%;
    height: 40%;
    display: none;
    float: left;
    background-color:white;
    
}

  audio{
      width: 300px;
      margin: 5px;
      position: relative;
      top: 60px; 

  }
  img{
      position: relative;
      bottom: -40px;
      left: 50px;
      
  }
  .container_music{
      display: flex;
  }
  
 
 i{
     position: relative;
     top: 30%;
 }
.div_music p{
    position: relative;
    bottom: -50px;
}
.div_music{
    border: white 1px solid;
    height: 400px;
    position: relative;
    left: 200px;
    margin-left: 20px;
}
.div_music audio{
    position: relative;
    bottom: 200px;
}
.div_musica p{
    position: relative;
    bottom: -50px;
}
.div_musica{
    border: white 1px solid;
    height: 400px;
    position: relative;
    left: 200px;
    margin-left: 20px;
}
.div_musica audio{
    position: relative;
    bottom: 200px;
}
.cont{
    display: flex;
    position: relative;
    top: 500px;
    right: 1000px;
    width: 250px;
}